<!DOCTYPE html>
<html>

<head>
    <title>CS170 APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <script src="/js/jquery.min.js"></script> --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
    {{!-- <link rel="stylesheet" href="/materialize-src/sass/materialize.min.css" /> --}}
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo ">THE OWL</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/createEvents">Create</a></li>
                    <li><a href="/findEvents">Join</a></li>
                    <li><a href="/myProfile">My Profile</a></li>
                    <li><a href="/messages">Messages</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <ul class="side-nav center-align" id="mobile-demo">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/createEvents">Create</a></li>
                    <li><a href="/findEvents">Join</a></li>
                    <li><a href="/myProfile">My Profile</a></li>
                    <li><a href="/messages">Messages</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- NAVIGATION BAR END-->

    <!-- CONTENT -->
    <main>
        {{{body}}}
    </main>
    <!-- CONTENT END -->

    <!-- BOTTOM NAVIGATION BAR -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s4 right-align">
                    <a class="white-text" href="/createEvents">
                        <i class="material-icons plus small">add</i>
                    </a>
                </div>
                <div class="col s4 center-align">
                    <a class="white-text" href="/index">
                        <i class="material-icons small">home</i>
                    </a>
                </div>
                <div class="col s4 left-align ">
                    <a class="white-text" href="/findEvents">
                        <i class="material-icons small">search</i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
