<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="title2 text-center">
                Cancel Event
            </div>
        </div>
    </div>

    <h3 class="lead text-center">Are you sure that you want to cancel the event?</h3>

    <div class="row">
        <a href="/cancelling/{{eventId}}"><button class="btn btn-primary btn-lg col-xs-12 lead" style="margin-right: 10px">Cancel Event</button></a>
        <a href="/createdEventDetail/{{eventId}}"><button class="btn btn-primary btn-lg col-xs-12 lead margin-top">Go Back</button></a>
    </div>
</div>
