<div class="container" id="contactUs">
    <h1 class ="text-center title2">
        Contact Us
    </h1>


    <form action="">
        <div class="row">
            <div class="input-field col s12">
                <input class="form-control" type="text" id="contact_name" name="name" required>
                <label for="contact_name">Name* </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="textarea1">Message* </label>
                <textarea id="textarea1" class="materialize-textarea" required></textarea>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light col s12" type="submit" id = "contactUs_submit">
                Submit
            </button>
        </div>
    </form>

    <form  id="contact_form" data-toggle="validator">
</div>

<div class="modal fade contact_success" id="modal_submit" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
			<center>
				<p>Message Successfully Sent!</p>
				<p>Thank you!</p>
				<button type="button" class="btn btn-primary" id="success_close">Close</button>
			</center>
    </div>
  </div>
</div>

<script>
	$("#success_close").click(function(){
    $('#modal_submit').modal('toggle');
  	window.location.href = "/contactUs";
	});
</script>
