<div class="container" id="CreateEvents">
    <div class="row">
        <div class="col-md-12">
            <h1 class ="text-center lead"><strong>CREATE EVENT</strong></h1>
            <div class="panel-heading">
                <p>insert picture</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="addCreatedEventForm" class="form" role="form" method="get" action="/addEvent" data-toggle="validator">

                <div class="form-group">
                    <label for="name">Event Name </label>
                    <input class="form-control" type="text" id="create_name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <select class="form-control" id="create_startTime" name="startTime">
                        <option>12pm</option>
                        <option>1pm</option>
                        <option>2pm</option>
                        <option>3pm</option>
                        <option>4pm</option>
                        <option>5pm</option>
                        <option>6pm</option>
                        <option>7pm</option>
                        <option>8pm</option>
                        <option>9pm</option>
                        <option>10pm</option>
                        <option>11pm</option>
                        <option>12am</option>
                        <option>1am</option>
                        <option>2am</option>
                        <option>3am</option>
                        <option>4am</option>
                        <option>5am</option>
                        <option>6am</option>
                        <option>7am</option>
                        <option>8am</option>
                        <option>9am</option>
                        <option>10am</option>
                        <option>11am</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="endTime">End Time</label>
                    <select class="form-control" id="create_endTime" name="endTime">
                        <option>12pm</option>
                        <option>1pm</option>
                        <option>2pm</option>
                        <option>3pm</option>
                        <option>4pm</option>
                        <option>5pm</option>
                        <option>6pm</option>
                        <option>7pm</option>
                        <option>8pm</option>
                        <option>9pm</option>
                        <option>10pm</option>
                        <option>11pm</option>
                        <option>12am</option>
                        <option>1am</option>
                        <option>2am</option>
                        <option>3am</option>
                        <option>4am</option>
                        <option>5am</option>
                        <option>6am</option>
                        <option>7am</option>
                        <option>8am</option>
                        <option>9am</option>
                        <option>10am</option>
                        <option>11am</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="category">Category </label>
                    <input class="form-control" type="text" id="create_category" name="category" required>
                </div>

                <div class="form-group">
                    <label for="description">Event Description </label>
                    <textarea class="form-control" id="create_description" name="description" rows="3" required></textarea>
                </div>


                <input type="submit" id="createEvent_submit" class="btn btn-primary btn-lg col-xs-12" value="Create Event">
                <input type="submit" id="createEvent_submit" class="btn btn-primary btn-lg col-xs-12" value="Create Event">

            </form>
            <a href="/index"><button class="btn btn-primary btn-lg col-xs-12 margin-top">Cancel</button></a>

        </div>

    </div>
</div>
