<div class="container" id="CreateEvents">

    <div class="row">
        <div class="col s12">
            <div class="title2 text-center">
                Create Event
            </div>
        </div>
    </div>
    <form class="form" role="form" method="get" action="/addEvent" data-toggle="validator">
        <div class="row">

            <div class="col s12 input-field">
                <label for="name">Event Name </label>
                <input class="form-control" type="text" id="create_name" name="name" required>
            </div>

            <div class="col s12 input-field">
                <label for="date" class="active">Date</label>
                <input id ="create_date" type="date" class="datepicker" name="date" required >
            </div>

            <div class="col s12 form-group">
                <label for="startTime">Start Time</label>
                <select class="form-control" id="create_startTime" name="startTime" required>
                    <option>12pm</option>
                    <option>1pm</option>
                    <option>2pm</option>
                    <option>3pm</option>
                    <option>4pm</option>
                    <option>5pm</option>
                    <option>6pm</option>
                    <option>7pm</option>
                    <option>8pm</option>
                    <option>9pm</option>
                    <option>10pm</option>
                    <option>11pm</option>
                    <option>12am</option>
                    <option>1am</option>
                    <option>2am</option>
                    <option>3am</option>
                    <option>4am</option>
                    <option>5am</option>
                    <option>6am</option>
                    <option>7am</option>
                    <option>8am</option>
                    <option>9am</option>
                    <option>10am</option>
                    <option>11am</option>
                </select>
            </div>

            <div class="col s12 form-group">
                <label for="endTime">End Time</label>
                <select class="form-control" id="create_endTime" name="endTime" required>
                    <option>12pm</option>
                    <option>1pm</option>
                    <option>2pm</option>
                    <option>3pm</option>
                    <option>4pm</option>
                    <option>5pm</option>
                    <option>6pm</option>
                    <option>7pm</option>
                    <option>8pm</option>
                    <option>9pm</option>
                    <option>10pm</option>
                    <option>11pm</option>
                    <option>12am</option>
                    <option>1am</option>
                    <option>2am</option>
                    <option>3am</option>
                    <option>4am</option>
                    <option>5am</option>
                    <option>6am</option>
                    <option>7am</option>
                    <option>8am</option>
                    <option>9am</option>
                    <option>10am</option>
                    <option>11am</option>
                </select>
            </div>

            <div class="col s12 input-field">
                <label for="location">Location </label>
                <input class="validate" type="text" id="create_location" name="location" required>
            </div>

            <div class="col s12 input-field">
                <label for="category">Category </label>
                <input class="validate" type="text" id="create_category" name="category" required>
            </div>

            <div class="col s12 form-group">
                <label for="description">Event Description </label>
                <textarea class="form-control" id="create_description" name="description" rows="3" required></textarea>
            </div>
        </div>

        <div class="row">
            <button id="createEvent_submit" class="btn waves-effect waves-light col s12" value = "Create Event" type="submit" name="action">
                Create Event
            </button>
        </div>

    </form>

		<div class="row">
				<a href="/index">
						<button class="btn btn-primary waves-effect waves-light col s12 ">Cancel</button>
				</a>
		</div>
</div>
