<div class="container" id="CreateEvents">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <h1 class ="text-center lead"><strong>CREATE EVENT</strong></h1>
            <div class="panel-heading">
                <p>insert picture</p>
            </div>
        </div>
        <div class="col-md-3"> </div>
    </div>
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="example-text-input">Event Name </label>
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                    {{!-- <textarea class="form-control" id="example-text-input" rows="3"></textarea> --}}
                </div>

                <div class="form-group">
                    <label for="exampleSelect1">Start Time</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleSelect1">End Time</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Event Description </label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>

                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            I am mentoring
                        </label>
                    </div>
                </fieldset>

                <button type="submit" class="btn btn-primary btn-lg center-block col-xs-12"><a style="color: white; text-decoration: none" href="/index">Create Event</a></button>
            </form>
					
						<a href="/index"><button class="btn btn-primary btn-lg center-block col-xs-12" style="; margin-top: 15px">Cancel</button></a>

        </div>
        <div class="col-md-3"> </div>

    </div>
</div>
