<div id="createdEventDetail" class="container eventDetails">

    <div class="row eventId" id="{{eventId}}">
        <div class="col s12 text-center">
            <h3 class = "title2" id="createdEventDetail_name"></h3>
            <center><img id="createdEventDetail_img" class=" img-responsive"></center>
        </div>
    </div>

		<div class="row details">
            <div class="col s12 m5 offset-m1">
                <div class ="detail_Bold">
                    Location
                    <span class = "detail_Light"id="createdEventDetail_location"></span>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="detail_Bold">
                    Date
                    <span class="detail_Light" id="createdEventDetail_date"></span>
                </div>
            </div>

            <div class="col s12 m5 offset-m1 ">
                <div class="detail_Bold">
                    Time
                    <span class="detail_Light" id="createdEventDetail_time"></span>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="detail_Bold">
                    Expertise
                    <span class ="detail_Light" id="createdEventDetail_category"></span>
                </div>
            </div>

            <div class="col s12 m10 offset-m1">
                <div class="detail_Bold">
                    Description
                    <span class="detail_Light" id="createdEventDetail_description"></span>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="/editEvent/{{eventId}}"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Edit Event</button></a>
        </div>

        <div class="col s12">
            <a href="/cancelEvent/{{eventId}}"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Cancel Event</button></a>
        </div>

        <div class="col s12">
            <a href="/index"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Back</button></a>
        </div>
    </div>
</div>

<script>

var eventId = $('.eventId').attr('id');
$.get("/event/"+eventId, addDetail);

function addDetail(result) {
	$('#createdEventDetail_location').html(result["location"]);
    $('#createdEventDetail_date').html(result["date"]);
    $('#createdEventDetail_name').html(result["name"]);
    $('#createdEventDetail_img').attr('src', result["imageURL"]);
    $('#createdEventDetail_time').html(result["startTime"]+" to "+result["endTime"]);
    $('#createdEventDetail_category').html(result["category"]);
    $('#createdEventDetail_description').html(result["description"]);
}
</script>
