<div class="container">Edit Event</div>
<li><a href="/createdEventDetail">Save Changes (Redirects to Event Detail)</a></li>
<li><a href="/createdEventDetail">Cancel (Redirects to Event Detail)</a></li>

