<div class="container" id="CreateEvents">

    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <h1 class ="text-center lead"><strong>CREATE EVENT</strong></h1>
            <div class="rectangle">
                <p>insert picture</p>
            </div>
        </div>
        <div class="col-md-3"> </div>
    </div>

    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">

            <div class = "textBox">
                <strong>Hiking with a Data Scientest</strong>
            </div>

            <div class="textBox">
                <strong>Time:</strong>&nbsp 1pm
            </div>

            <div class="textBox">
                <strong>Event Description:</strong>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin quis risus vel mauris blandit egestas et ut leo.
                    Phasellus vel orci ante. Nulla vestibulum risus ut libero
                    ultrices varius. Proin maximus justo nec ex efficitur
                    mollis. Nunc sit amet justo id nisi tristique dictum sed
                    sit amet nisi. Vestibulum ante ipsum primis in faucibus
                    orci luctus et ultrices posuere cubilia Curae; Praesent
                    quis est nec nulla rhoncus tempor id eget ligula.
                    Nullam leo dui, condimentum tempus odio in, porttitor
                    cconsectetur nisi. Nullam venenatis dui ac tristique
                    bibendum. Duis facilisis mauris pulvinar nibh cursus,
                    vitae sagittis mauris consequat. Aenean sapien mauris,
                    ultrices ac urna ut, ullamcorper varius velit. Aenean sed
                    sem ac ligula vulputate posuere. Nam ac purus tincidunt,
                    consequat sapien vel, commodo ipsum. </span>
            <div>


            <button type="submit" class="btn btn-primary btn-lg center-block col-xs-12"><a style="color: white; text-decoration: none" href="/index">Sign Up</a></button>


        </div>
        <div class="col-md-3"> </div>

    </div>
</div>
