<div class="container" id="editEvent">
    <div class="row eventId" id="{{eventId}}">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <h1 class ="text-center lead"><strong>EDIT EVENT</strong></h1>
            <center><img id="editEvent_img" class=" img-responsive"></center>
        </div>
        <div class="col-md-3"> </div>
    </div>
    <div class="row">
            <form data-toggle="validator" id="editEventForm">

                <div class="col s12 input-field form-group">
                    <label for="example-text-input">Event Name </label>
                    <input class="form-control" type="text" id="editEvent_name" required>
                </div>

                <div class="col s12 form-group">
                    <label for="startTime">Start Time</label>
                    <select class="form-control" id="editEvent_startTime" name="startTime" required >
						<option value = "12pm">12pm</option>
                        <option value = "1pm">1pm</option>
                        <option value = "2pm">2pm</option>
                        <option value = "3pm">3pm</option>
                        <option value = "4pm">4pm</option>
                        <option value = "5pm">5pm</option>
                        <option value = "6pm">6pm</option>
                        <option value = "7pm">7pm</option>
                        <option value = "8pm">8pm</option>
                        <option value = "9pm">9pm</option>
                        <option value = "10pm">10pm</option>
                        <option value = "11pm">11pm</option>
                        <option value = "12am">12am</option>
                        <option value = "1am">1am</option>
                        <option value = "2am">2am</option>
                        <option value = "3am">3am</option>
                        <option value = "4am">4am</option>
                        <option value = "5am">5am</option>
                        <option value = "6am">6am</option>
                        <option value = "7am">7am</option>
                        <option value = "8am">8am</option>
                        <option value = "9am">9am</option>
                        <option value = "10am">10am</option>
                        <option value = "11am">11am</option>
                    </select>
                </div>

                <div class="col s12 form-group">
                    <label for="endTime">End Time</label>
                    <select class="form-control" id="editEvent_endTime" name="endTime" required>
                        <option value = "12pm">12pm</option>
                        <option value = "1pm">1pm</option>
                        <option value = "2pm">2pm</option>
                        <option value = "3pm">3pm</option>
                        <option value = "4pm">4pm</option>
                        <option value = "5pm">5pm</option>
                        <option value = "6pm">6pm</option>
                        <option value = "7pm">7pm</option>
                        <option value = "8pm">8pm</option>
                        <option value = "9pm">9pm</option>
                        <option value = "10pm">10pm</option>
                        <option value = "11pm">11pm</option>
                        <option value = "12am">12am</option>
                        <option value = "1am">1am</option>
                        <option value = "2am">2am</option>
                        <option value = "3am">3am</option>
                        <option value = "4am">4am</option>
                        <option value = "5am">5am</option>
                        <option value = "6am">6am</option>
                        <option value = "7am">7am</option>
                        <option value = "8am">8am</option>
                        <option value = "9am">9am</option>
                        <option value = "10am">10am</option>
                        <option value = "11am">11am</option>
                    </select>
                </div>

                <div class="col s12 input-field">
                    <label for="create-location">Location </label>
                    <input class="validate" type="text" id="create_location" name="location" required>
                </div>

                <div class="col s12  input-field form-group">
                    <label for="category">Category </label>
                    <input class="form-control" type="text" id="editEvent_category" name="category" required>
                </div>

                <div class="col s12 form-group">
                    <label for="exampleTextarea">Event Description </label>
                    <textarea class="form-control" id="editEvent_description" rows="3" required>
                    </textarea>
                </div>

					<input id="editEvent_submit" type="submit" value="UPDATE" class="btn btn-primary btn-lg col-xs-12 margin-top">
            </form>

            <a href="/createdEventDetail/{{eventId}}"><button class="btn btn-primary btn-lg col-xs-12 margin-top">Cancel</button></a>

        </div>
        <div class="col-md-3"> </div>

    </div>
</div>

<script>
	var eventId = $('.eventId').attr('id');
	$.get("/event/"+eventId, addDetail);

	function addDetail(result) {
		var startValue = result["startTime"];
		var startTime = document.getElementById("editEvent_startTime");
		for(var i=0; i<startTime.options.length; i++) {
			if ( startTime.options[i].value == startValue ) {
				startTime.selectedIndex = i;
				break;
			}
		}

		var endValue = result["endTime"];
		var endTime = document.getElementById("editEvent_endTime");
		for(var i=0; i<endTime.options.length; i++) {
			if ( endTime.options[i].value == endValue ) {
				endTime.selectedIndex = i;
				break;
			}
		}

		$('#editEvent_img').attr('src', result["imageURL"]);
		$('#editEvent_name').attr('value', result["name"]);
		$('#editEvent_category').attr('value', result["category"]);
		$('#editEvent_description').html(result["description"]);
	}

	$("#editEvent_submit").click(function(e){
		var eventId =  $('.eventId').attr('id');
		var name = $('#editEvent_name').val();
		var startTime = $('#editEvent_startTime option:selected').attr('value');
		var endTime = $('#editEvent_endTime option:selected').attr('value');
		var category = $('#editEvent_category').val();
		var description = $('#editEvent_description').val();
		var updateAction = "/updatingEvent/"+eventId+"/"+name+"/"+startTime+"/"+endTime+"/"+category+"/"+description;
		$('#editEventForm').attr('action', updateAction);
	});
</script>
