<div class="container">
		<ul class="nav nav-tabs">
				<li class="active"><a href="#">Created Events</a></li>
				<li><a href="/joinedEvents">Joined Events</a></li>
		</ul>
	
	<div class="event-container">
		<a href="/createdEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>
	
	<div class="event-container">
		<a href="/createdEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>
	
	<div class="event-container">
		<a href="/createdEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>

	
	<a href="/createEvents"><button class="btn btn-primary col-xs-12">Create An Event</button></a>
</div>

<style>
	.event {
		padding: 5px 10px;
		border-style: solid;
		border-width: 1px;
	}
	.event-container {
		margin: 10px 0;
	}
</style>