<div class="container">
		<ul class="nav nav-tabs">
				<li class="active"><a href="#">Created Events</a></li>
				<li><a href="/joinedEvents">Joined Events</a></li>
		</ul>
</div>

<li><a href="/createdEventDetail">Event Details</a></li>
<a href="/createEvents">
	<button class="btn btn-primary col-xs-12">Create An Event</button></a>