<div class="container">
		<ul class="nav nav-tabs">
				<li><a href="/index">Created Events</a></li>
				<li class="active"><a href="#">Joined Events</a></li>
		</ul>

	<div class="event-container">
		<a href="/joinedEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>

	<div class="event-container">
		<a href="/joinedEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>

	<div class="event-container">
		<a href="/joinedEventDetail">
			<div class="event">
				<h4>Event Name</h4>
				<h5>Time of Event</h5>
				<p> Short Description</p>
			</div>
		</a>
	</div>


	<a href="/findEvents"><button class="btn btn-primary col-xs-12">Search For An Event</button></a>
</div>

<style>
	.event {
		padding: 5px 10px;
		border-style: solid;
		border-width: 1px;
	}
	.event-container {
		margin: 10px 0;
	}
</style>
