<div class="container">
		<ul class="nav nav-tabs">
				<li><a href="/index">Created Events</a></li>
				<li class="active"><a href="#">Joined Events</a></li>
		</ul>
</div>

<li><a href="/findEvents">Find Events</a></li>