<div class="container eventDetails" id="joinedEventDetail">

    <div class="row eventId" id="{{eventId}}">
        <div class="col s12 text-center">
            <h1 class ="title2" id="joinedEventDetail_name"> </h3>
            <center> <img class="img-responsive" id="joinedEventDetail_img"> </center>
        </div>
    </div>

    <div class="row details">
        <div class="col s12 m5 offset-m1">
            <div class="detail_Bold">
                Creator
				<a href="/profile/{{eventId}}">
                    <span class="details_Light" id="joinedEventDetail_creator"></span>
                </a>
            </div>
        </div>

            <div class="col s12 m6">
                <div class="detail_Bold">
                    Location
                    <span class="detail_Light" id="joinedEventDetail_location"></span>
                </div>
            </div>

        <div class="col s12 m5 offset-m1">
            <div class="detail_Bold">
                Date
                <span class = "detail_Light" id="joinedEventDetail_date"></span>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="detail_Bold">
                Time
                <span class="detail_Light" id="joinedEventDetail_time"></span>
            </div>
        </div>

        <div class="col s12 m5 offset-m1">
            <div class="detail_Bold">
                Expertise
                <span class="detail_Light" id="joinedEventDetail_catetgory"></span>
            </div>
        </div>

        <div class="col s12 m10 offset-m1">
            <div class="detail_Bold">
                <strong>Description:</strong>
                <span class="detail_Light" id="joinedEventDetail_description"></span>
            </div>
        </div>
    </div>

    <div class="row">
			<div class="col-md-12">
				<form action="/unjoinEvent/{{eventId}}">
					<input type="submit" value="UNJOIN" class="btn btn-primary btn-lg col-xs-12 margin-top">
				</form>
			</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="/joinedEvents"><button class="btn btn-primary btn-lg col-xs-12 margin-top">BACK</button></a>
        </div>
    </div>
</div>

<script>
	var eventId = $('.eventId').attr('id');
	$.get("/event/"+eventId, addDetail);

	function addDetail(result) {
		$('#joinedEventDetail_location').html(result["location"]);
		$('#joinedEventDetail_date').html(result["date"]);
		$('#joinedEventDetail_name').html(result["name"]);
		$('#joinedEventDetail_img').attr('src', result["imageURL"]);
		$('#joinedEventDetail_time').html(result["startTime"]+" to "+result["endTime"]);
		$('#joinedEventDetail_catetgory').html(result["category"]);
		$('#joinedEventDetail_description').html(result["description"]);
		$('#joinedEventDetail_creator').html(result["creator"]["name"]);
	}
</script>
