
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <strong> LOGIN </strong>
        </div>
    </div>

    <form action="/loggingIn" >
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" required>
                <label for="email" data-error="Enter a valid Email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password_login" type="password" class="validate" required>
                <label for="password" data-error="Enter a valid Password" >Password</label>
            </div>
        </div>

        <div class="row">
                <button class="btn waves-effect waves-light col s12" type="submit" name="action" >Login
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="/forgetPassword">forgot password?</a>
        </div>
    </div>
</div>
