<div class="container">
    <h1 class ="text-center lead"><strong>Logout Successfully!</strong></h1>
    <a href="/login"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Login Again</button></a>
</div>
