<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="title2 text-center">
                Logout Successfull!
            </div>
        </div>
    </div>

    <a href="/login"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Login</button></a>
</div>
