<div class="container">
    <div class="row">
        <div class="lead text-center"><strong>Message</strong></div>
        <a id="openM" href="#modal1" style="float: right" class="modal-action modal-close"> New message </a>
    </div>

    <div class ="row">
        <div class="col-md-4 event-container card-panel text-center">
            <h5 class="lead">You don't have any message!</h5>
        </div>
    </div>



</div>

<div id="modal1" class="modal" style="background-color: transparent; box-shadow: none">
    <div class="modal-content">
        <div class="row">
            <form>
                <label for="message_to">To: </label><input class="form-control validate" type="email" id="message_to" required>
                <label for="message_message">Message: </label>
                <textarea class="form-control" id="message_message" rows="10" required></textarea><br>
                <button type="submit" class="btn btn-primary btn-lg col-xs-12" id="message_submit">Send</button>
            </form>
        </div>
    </div>
</div>

