<div id="profile" class="container col-xs-12">
	
	<center><img src="/images/profile-placeholder.png" class="img-circle img-responsive profile-image"></center>
	<h3><center>MyUsername</center></h3>
	<div class="col-xs-12">
		<span><strong>Name: </strong></span>
		Hill Woods
	</div>
	<div class="col-xs-12">
		<span><strong>Expertise: </strong></span>
		Hiking
	</div>
	<div class="col-xs-12">
		<span><strong>Events Mentored: </strong></span>
	</div>
	<div class="event-container col-xs-12">
		<div class="profile-event">
			<p>Event Name<p>
		</div>
	</div>
	<div class="col-xs-12">
		<span><strong>About Me: </strong></span>
		Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. Hi, I love hiking and mentoring. 
	</div>
	
	<a href="/resultEventDetail"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Back to Event Details</button></a>
</div>