<div id="resultEventDetail" class="container">

    <div class="row eventId" id="{{eventId}}">
        <div class="col s12 text-center">
            <h3 class='title2' id="resultEventDetail_name"></h3>
            <center><img id="resultEventDetail_img" class="img-responsive"></center>
        </div>
    </div>

    <div class="row details">

        <div class="col s12 m10 offset-m1">
            <div class="detail_Bold">
                Creator
                <a href="/rprofile/{{eventId}}"><span class ="detail_Light" id="resultEventDetail_creator"></span></a>
            </div>
        </div>

        <div class="col s12 m10 offset-m1">
            <div class="detail_Bold">
                Location
                <span class = "detail_Light" id="resultEventDetail_location"></span>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="detail_Bold">
                Expertise
                <span class='detail_Light' id="resultEventDetail_category"></span>
            </div>
        </div>

        <div class="col s12 m5 offset-m1">
            <div class="detail_Bold">
                Date
                <span class="detail_Light" id="resultEventDetail_date"></span>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="detail_Bold">
                Time
                <span class="detail_Light" id="resultEventDetail_time"></span>
            </div>
        </div>



        <div class="col 12 m10 offset-m1">
            <div class="detail_Bold">
                Description
                <span class="detail_Light" id="resultEventDetail_description"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="/joiningEvent/{{eventId}}">
                <input type="submit" value="JOIN" class="btn btn-primary btn-lg col-xs-12 margin-top">
            </form>
        </div>

        <div class="col-xs-12">
            <a href="/resultEvent"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Back</button></a>
        </div>
    </div>
</div>

<script>
var eventId = $('.eventId').attr('id');
$.get("/event/"+eventId, addDetail);

function addDetail(result) {
    console.log(result);
    $('#resultEventDetail_location').html(result["location"]);
    $('#resultEventDetail_date').html(result["date"]);
    $('#resultEventDetail_name').html(result["name"]);
    $('#resultEventDetail_img').attr('src', result["imageURL"]);
    $('#resultEventDetail_time').html(result["startTime"]+" to "+result["endTime"]);
    $('#resultEventDetail_category').html(result["category"]);
    $('#resultEventDetail_description').html(result["description"]);
    $('#resultEventDetail_creator').html(result["creator"]["name"]);
}
</script>
