
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <strong> SignUp </strong>
        </div>

    </div>
    <form action="/signingup">
        <div class="form-group row">
            <div class="col-xs-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="User Name">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email_Signup" type="email" class="validate" required>
                <label for="email_SignUp" data-error="Enter a valid Email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="tel" id="tel" class="validate" placeholder="xxx-xxx-xxxx" required>
                <label for="tel">Phone Number</label>
            </div>
        </div>

        <div class=" row">
            <div class="input-field col s12">
                <input type="password" id="signUpPass" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" required>
                <label for="signUpPass">Password</label>
                <small id="passwordHelpInline" class="text-muted">
                    &nbsp Must be 8-20 characters long.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="confirmPass" class="validate" aria-describedby="passwordHelpInline"  required>
                <label for="confirmPass">Confrim Password</label>
            </div>
        </div>
			
				<input type="submit" id="signup_submit" class="btn btn-primary btn-lg col-xs-12" value="SIGN UP">
    </form>

</div>
