<div class="container" id="signup">
    <div class="row">
        <div class="col s12">
            <div class="title2 text-center">
                Sign Up
            </div>
        </div>
    </div>


    <form class="form" role="form" method="get" data-toggle="validator" id="createAccForm">
        <div class="row">
            <div class="input-field col s12">
                <label for="name">Name: </label><input class="form-control validate" type="text" id="signUp_name" name="name" required>
            </div>

            <div class="input-field col s12">
                <label for="username">User Name: </label><input class="form-control validate" type="text" id="signUp_userName" name="username" required>
            </div>

            <div class="input-field col s12">
                <label for="email">Email: </label><input class="form-control validate" type="email" id="signUp_email" name="email" required>
            </div>

            <div class="input-field col s12">
                <label for="signUpPass">Password: </label><input class="form-control validate" name="signUpPass" data-error=".errorTxt3" type="password" id="signUpPass" required>
                <div class="errorTxt3"> </div>
            </div>

            <div class="input-field col s12">
                <label for="confirmPass">Confirm Password: </label><input class="form-control validate" type="password" name = "confirmPass" id="confirmPass" data-error=".errorTxt4" required>
                <div class="errorTxt4"> </div>
            </div>

        </div>
        <div class="row">
            <button id="signup_btn" class="btn waves-effect waves-light col s6 offset-s3" >Sign Up </button>
        </div>
    </form>

</div>

<script>

$("#signup_btn").click(function(e){
    var name = $('#signUp_name').val();
    var username = $('#signUp_userName').val();
    var email = $('#signUp_email').val();
    var password = $('#signUpPass').val();

    var createAction = "/signingup/"+name+"/"+username+"/"+email+"/"+password;
    $('#createAccForm').attr('action', createAction);
});

</script>
