
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <strong> SignUp </strong>
        </div>

    </div>
    <form>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="userName" required>
                <label for="userName">User Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email_Signup" type="email" class="validate" required>
                <label for="email_SignUp" data-error="Enter a valid Email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="tel" id="tel" class="validate" placeholder="xxx-xxx-xxxx" required>
                <label for="tel">Phone Number</label>
            </div>
        </div>

        <div class=" row">
            <div class="input-field col s12">
                <input type="password" id="signUpPass" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" required>
                <label for="signUpPass">Password</label>
                <small id="passwordHelpInline" class="text-muted">
                    &nbsp Must be 8-20 characters long.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="confirmPass" class="validate" aria-describedby="passwordHelpInline"  required>
                <label for="confirmPass">Confrim Password</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action">
                Signup
            </button>
        </div>
    </form>

    <div class="row">
        <a href="/login">
            <button class="btn waves-effect waves-light col s4 offset-s4">
                Back
            </button>
        </a>
    </div>

</div>
