
{{!-- user name, email, tel, password, password --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <strong> SignUp </strong>
        </div>

    </div>
    <form class="form-group" id="formValidation">
        <div class="row">
            <div class="col-md-4">
                <label for="signUp_name">Name: </label><input class="form-control validate" type="text" id="signUp_name" required>
            </div>

            <div class="col-md-4">
                <label for="signUp_phone">Phone: </label><input class="form-control customphone validate" type="tel" id="signUp_phone" placeholder="xxx-xxx-xxxx" required>
            </div>

            <div class="col-md-4">
                <label for="signUp_email">Email: </label><input class="form-control validate" type="email" id="signUp_email" required>
            </div>

            <div class="col-md-4">
                <label for="signUpPass">Password: </label><input class="form-control validate" type="password" id="signUpPass" required>
            </div>

            <div class="col-md-4">
                <label for="confirmPass">Confirm Password: </label><input class="form-control validate" type="password" id="confirmPass" required>
            </div>

        </div>
        <input type="submit" class="btn btn-primary btn-lg col-xs-12" id="contactUs_submit">
    </form>

</div>
