<div class="container" id="successJoin">
	<div class="col-xs-12">
		<h5 class="text-center margin-top"> You successfully joined a mentoring event!</h5>
		<p class="text-center margin-top">You will shortly be redirected...</p>
		<center><img src="/images/loader.gif" class="loader img-responsive"></center>
	</div>
</div>

<script>
  var timeout = 2000;

  setTimeout(function () {
     window.location = "/joinedEvents";
  }, timeout);
</script>