<div class="container" id="successCreate">
	<div class="col-xs-12"></div>
		<h5 class="text-center margin-top"> You successfully created an event!</h5>
		<p class="text-center margin-top">You will shortly be redirected...</p>
		<center><img src="/images/loader.gif" class="loader img-responsive"></center>

	</div>
</div>

<script>
  var timeout = 2000;

  setTimeout(function () {
     window.location = "/index";
  }, timeout);
</script>