#createdEventDetail{

    .details{

        padding-left: 5%;

        font-size: 15px;
        .detail_Light{
            font-family: Hell;
        }

        .detail_Bold{
            font-family: Hell_Bold;
        }
    }
}
