/* NAVIVATION BAR */
.navbar-right {
	padding-top: 5px;
	padding-right: 30px;
}
.navbar-collapse.collapse.in ul li, .navbar-collapse.collapsing ul li {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}

.container {
	margin-top: 100px;
}

/* EVENTS */
.event {
	padding: 5px 10px;
	border: solid 1px;
}
.event-container {
	margin: 10px 0;
}
.profile-event {
	border: solid 1px black; 
	padding: 7px 5px 0 15px;
	background-color: #ededed;
}

/* GENERAL STYLES */
.margin-top {
	margin-top: 15px;
}

.profile-image {
	width: 50%;
}
