/* NAVIVATION BAR */
.navbar-right {
	padding-top: 5px;
	padding-right: 30px;
}
.navbar-collapse.collapse.in ul li, .navbar-collapse.collapsing ul li {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}

/* BOTTOM NAVIGATION BAR */

#btmNav .navbar-nav>li, #btmNav .navbar-nav {
  float: none !important;
}

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

/* EVENTS */
.event {
	padding: 5px 10px;
	border: solid 1px;
}
.event-container {
	margin: 10px 0;
}
.profile-event {
	border: solid 1px black;
	padding: 7px 5px 0 15px;
	background-color: #ededed;
}

/* GENERAL STYLES */
.container {
	margin: 30px 0 100px 0;
}

.margin-top {
	margin-top: 15px;
}

.profile-image {
	width: 50%;
}

.row{
    margin-top: 3%;
}
