/* NAVIVATION BAR */
.navbar-right {
	padding-top: 5px;
	padding-right: 30px;
}
.navbar-collapse.collapse.in ul li, .navbar-collapse.collapsing ul li {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}

/* BOTTOM NAVIGATION BAR */

body {
  display: flex;
  display: -webkit-flex;
  min-height: 400px;
  flex-direction: column;
  -webkit-flex-direction: column;

}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-bottom: 80px;

  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: auto;
}

footer{
margin-bottom: 0;
bottom: 0;
position: fixed;
width: 100%;
}

#sidenav-overlay {
  z-index: 1
}

/* EVENTS */
.event {
	padding: 5px 10px;
	border: solid 1px;
}
.event-container {
	margin: 10px 0;
}
.profile-event {
	border: solid 1px black;
	padding: 7px 5px 0 15px;
	background-color: #ededed;
}

/* GENERAL STYLES */

.margin-top {
	margin-top: 15px;
}

.profile-image {
	width: 50%;
}

.row{
    margin-top: 3%;
}
.error {
	color: red;
}