 $titleFont : Rita;
 $Hell : Hell;
 $iconColor: black;
 $btnColor: #fc4a1b;
 $blueberry: #6b7a8f;
 $apricot: #f7882f;
 $citrus: #f7c331;
 $core: #dcc7aa;
 $papaya: #ec4e42;
 $aqua: #008f95;

 @font-face { font-family: Rita; src: url('/fonts/Rita.otf'); }
 @font-face {
     font-family: Hell; src: url('/fonts/HelveticaNeue.ttf');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: Hell_Bold; src: url('/fonts/HelveticaNeue-Bold.otf');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: abril; src: url('/fonts/AbrilFatface-Regular.ttf');
     font-weight: normal;
     font-style: normal;
 }

 nav, footer{
     background-color: $blueberry  !important;
     .nav-wrapper {
        // @extend .grey,.lighten-4;
        font-family: $Hell;
     }
     .brand-logo{
         color: white;
         font-family: abril;
         padding-left: 5%;
     }
 }

 nav{
     .side-nav{
         a:hover{
             background-color: $citrus
         }
     }
     ul{
         a:hover{
             background-color: $blueberry;
             color:$citrus;
         }
     }
 }
 .index{
     color:$blueberry;
 }
 .tabs{
     font-family: Hell;
     font-weight: 600;
     .tab{

         a{
            //  color:$apricot;
             color:$apricot;
             text-decoration: none;
         }
         a.active{
            //  color:$blueberry;
             color:$apricot;
             text-decoration: none;
         }
         a:hover{
             text-decoration: none;
             color:$apricot;
            //  color:$blueberry;
         }
     }
     .indicator{
         @extend .deep-orange,.lighten-1;
        //  background-color: $blueberry;
     }
 }

 .event{
     text-decoration: none;
     color:$blueberry;
     font-family: $Hell;
     h4{
         font-family:Hell;
     }
     h5{
         font-family:Hell;
     }
 }
 .btn{
     @extend .deep-orange,.lighten-1;
    //  background-color: $papaya;
     color: white;
     font-family: $Hell;
     font-weight:bold;
 }

 i.material-icons{
     color: white;
 }

/* NAVIVATION BAR */
.title2 {
    font-family: $Hell,Roboto;
    font-size:40px;
    /*font-weight: 400;*/

}

#mobile-demo {
	z-index: 9999;
}

#openM{
    color:$apricot;
}

/* BOTTOM NAVIGATION BAR */

body {
    @extend .grey,.lighten-5;
  display: flex;
  display: -webkit-flex;
  min-height: 400px;
  flex-direction: column;
  -webkit-flex-direction: column;

}

.fixed-action-btn{
    z-index: 995 !important;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	margin-bottom: 80px;

	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 0;
	-webkit-flex-basis: auto;
}

footer{
	margin-bottom: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}

#sidenav-overlay {
	z-index: 150;
}

.title{
    font-weight: 100;
}

a, a:hover, a:active, a:visited {
	text-decoration:none;
}

footer.page-footer{
	z-index: 100;
	padding-top: 1px;
}

/*
.right-align .fa-plus {
    margin-right: 7px;
}
*/
.material-icons.plus {
	margin-right: 4px;
}

body > footer > div > div {
/*	margin-bottom: 0 !important;*/
	margin-bottom: 10px !important;
}

/* EVENTS */
.event {
	padding: 5px 10px;
	border: solid 1px;
}
.event-container {
	margin: 10px 0;
}


#profile{
    .profile-event {
    	// border: solid 1px black;
    	// padding: 7px 5px 0 15px;
    	background-color: white;
    }

    .profile-image {
    	width: 50%;
    }

    #chat{
        background-color: $citrus;
    }

    #profile_username{
        font-family: Hell;
    }

}

/* GENERAL STYLES */

.margin-top {
	margin-top: 15px;
}
.row {
    margin-top: 3%;
}
.error {
	color: red;
}
.loader {
	margin-top: 25px;
 	height: 60px;
}

.contact_success, .contact_success:focus, .contact_success:visited {
  outline: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	-webkit-tap-highlight-color: transparent !important;
}
.index {
	margin: 20px auto;
}

@import "eventDetails";

// ******************** MATERIALIZE IMPORTS *********************//


@import "../materialize-src/sass/components/color";
